body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* dashboard */
.dashboard-card-title{
  color: #474d52;
  font-size: 14px !important;
}
.dashboard-card-count{
font-weight: bold !important;
color: #474d52 !important;
font-size: 33px !important;
}

.table-head {
  background-color: #ebf5ff !important;
}
.table-head-cell {
  font-weight: bold !important;
}

.TableCellActions {
  display: flex;
}

/* Chart Css */
.css-1q82zaz-MuiPaper-root {
  padding: 30px 5px !important;
}